@media screen and (max-width: 1757px) {
  .inicioBannerTitle{
    width: 50%;
  }
}

@media screen and (max-width: 1461px) {
  .inicioBannerTitle{
    width: 70%;
  }
}

@media screen and (max-width: 1325px) {
  .center{
    width: 80%;
  }

}

@media screen and (max-width: 1201px) {
  .cardRegister {
    padding: 0 40px;
  }

  .alertasInfo{
    max-height: 700px;
  }
}

@media screen and (max-width: 1142px) {
    .mainCuenta h2{
        font-size: 3rem;
        text-align: center;
    }

    .cuentas{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1160px) {
  .center{
    width: 90%;
  }
}

@media screen and (max-width: 1102px) {
  .navbar{
    display: none;
  }

  .navbarResponsive{
    display: block;
  }
}

@media screen and (max-width: 1026px) {
  .center{
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .cardRegister {
    flex-direction: column;
    padding: 40px 40px;
  }

  .textoCardRegister {
    order: 0;
  }
  .imagenCardRegister {
    order: 1;
  }
}
@media screen and (min-width: 904px) {
  #inicioFooterCenter {
    margin: 0 auto;
    width: 80vw;
  }

  #login {
    width: auto;
  }
}

@media screen and (max-width: 875px) {
  .inicioBannerTitle{
    width: 100%;
  }
}

@media screen and (max-width: 869px) {
  .center{
    width: 60%;
  }
}

@media screen and (max-width: 775px) {
  .loginSubSubtitle {
    margin-left: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 739px) {
  #inicioLogin {
    background: #000;
  }

  .inicioLoginRegister {
    background-image: url("../images/inicioLogin.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #inicioMain {
    justify-content: flex-start;
  }

  #inicioMain #login {
    margin-top: -53px;
    background-color: transparent;
    margin-left: 0;
    width: 100%;
    padding: 50px 30px;
    max-width: none;
    min-height: auto;
  }

  #loginFacebook {
    margin-top: 30px;
  }

  #inicioFooter {
    border-top: 1px solid #aaa;
  }

  #icon-world {
    margin-bottom: 0;
  }

  #inicioFooter .inicioOpciones {
    width: 90%;
    margin-bottom: 25px;
    padding-left: 10px;
  }

  #inicioFooter .inicioOpciones li {
    width: 198px;
  }

  .loginSubtitle,
  .loginSubSubtitle {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
}

@media screen and (max-width: 689px) {
  .centerLogin h2 {
    font-size: 1.75rem;
  }

  .loginSubtitle,
  .loginSubSubtitle {
    font-size: 1.125rem;
  }

  .RegisterForm {
    flex-direction: column;
  }

  .inputRegister {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    height: auto;
  }

  #loginRegisterInput {
    height: auto;
    margin-top: 30px;
    width: max-content;
    font-size: 16px;
  }

  .subheaderLogin {
    font-size: 1.625rem;
  }

  .preguntasRegister li,
  .respuestaRegister p {
    font-size: 18px;
  }

  .mainCuenta h2{
      font-size: 2rem;
  }
}

@media screen and (max-width: 629px) {
  .centerLogin,
  .centerLogin h2 {
    width: auto;
    padding: 10px;
  }

  .inicioBannerTitle img{
    width: 412px;
  }
}

@media screen and (max-width: 571px) {
  .inicioBannerTitle p{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 553px) {
  .iconoN {
    width: 150px;
    margin: 10px 20px;
  }

  #icon-world-header {
    padding: 2px 10px;
  }

  #btn-login {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  
  .inicioHeaderRight{
    margin-right: 5px;
  }

  .badge{
    right: 6.3rem;
    top: 2rem;
  }

  .iconoN-small{
    width: 120px !important;
  }
}

@media screen and (max-width: 544px) {
  .center{
    width: 40%;
  }
  
  .inicioMainLogin {
    min-height: 500px !important;
  }

  .subheaderLogin {
    font-size: 1.625rem;
    text-align: center;
  }
  .subParrafo {
    font-size: 1.125rem;
    text-align: center;
  }

  .preguntasRegister {
    width: 100%;
  }

  .preguntasRegister li,
  .respuestaRegister {
    margin: 10px 0;
    font-size: 18px;
  }

  .respuestaRegister p {
    font-size: 18px;
  }

  .subTitle{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 512px) {
  #inicioFooter .inicioOpciones li {
    width: 150px;
    margin: 5px;
  }
}

@media screen and (max-width: 517px) {
  .headerDerecha {
    padding-right: 10px;
  }
}

@media screen and (max-width: 497px) {
    .mainCuenta h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 497px) {
  .iconoN {
    width: 100px;
    margin-left: 10px;
  }

  #icon-world-header {
    width: 100px;
  }

  #btn-login {
    margin-left: 15px;
    margin-right: 10px;
  }

  .imgRegisterLogin {
    width: 400px;
  }
}

@media screen and (max-width: 413px) {
  .inicioHeaderRight{
    margin-right: 0;
  }
}